.logo {
    margin-bottom: -1em;
    background: linear-gradient(0deg, transparent, rgba(#FFFFFF, .9));
    img {
      height: 5em;
    }
}
.capa, .numeros, section {
  max-width: 1600px;
  margin: auto;
}
.capa {
    display: flex;
    position: relative;
    @media (max-width: $break-md) {
      flex-direction: column;
    }
    .intro {
        width: 60%;
        padding: 2rem 1.5em;
        &>* {
          margin-bottom: $spacing-sm;
        }
        @media (max-width: $break-xl) {
          margin-top: 1em;
          .social-apps {
              position: absolute;
          }
          width: 80%;
        }
        @media (max-width: $break-md) {
          margin-top: 0;
          width: 100%;
        }
    }
    .celular {
        margin: 3em 3em auto auto;
        z-index: 1;
        position: relative;
        margin: 0 2.8em;
        text-align: left;
        @media (min-width: $break-xs) {
          text-align: right;
        }
        @media (min-width: $break-md) {
          margin: 3.5em;
        }
        img {
          width: 320px;
          @media (min-width: $break-xs) {
            width: 375px;
          }
        }
        video {
          position: absolute;
          width: 169px;
          left: -25px;
          top: -4px;
          border-radius: 30px;
          transform:
          perspective(360px)
          rotateX(4deg)
          rotateY(-3deg)
          rotateZ(7.9deg)
          translate(59px, -28px)
          scaleX(0.80)
          scaleY(0.86)
          skew(-11.5deg);
          @media (min-width: $break-xs) {
            width: 200px;
            right: 196px;
            left: auto;
            top: -10px;
          }
          @media (min-width: $break-md) {
            right: 194px;
            top: -10px;
          }
          @media (min-width: $break-lg) {
            right: auto;
            left: -20px;
            top: -10px;
          }
        }
    }
    .mendigo {
        position: absolute;
        height: 418px;
        width: 75%;
        @media (max-width: $break-md) {
            height: 620px;
            width: 80%;
        }
        @media (max-width: $break-sm) {
            height: 620px;
            width: 90%;
        }
        right: 0;
        // background: url('../assets/hero-bg.jpg');
        background-size: cover;
        background-position: center;
        z-index: -1;
        opacity: 1;
        filter: blur(3px);
    }

}

.numeros {
    margin: -6rem 1.5rem 1.5rem 25.6%;
    display: flex;
    justify-content: space-between;
    @media (max-width: $break-lg) {
        margin-left: 12%;
    }
    @media (max-width: $break-md) {
        margin-left: 1.5em;
        margin-right: 1.5em;
        flex-direction: column;
    }
    &>* {
        width: 31%;
        @media (max-width: $break-md) {
            width: 100%;
            margin-bottom: 2em;
        }
    }
    .detalhes {
        color: $text-light;
        margin-top: .3em;
    }
    .valor {
        @extend .heading-display-lg;
        color: $brand-secondary-light;
    }
    .nome {
        @extend .heading-regular-lg;
        text-transform: uppercase;
        margin: -.5em 0 0 1.5em;
        color: $text-main;
    }
}

#solucoes {
  h2 {
    text-align: center;
  }
  .solucoes {
    display: flex;
    align-items: stretch;
    min-height: 600px;
    flex-direction: column;
    @media (min-width: $break-md) {
      flex-direction: row;
    }
    h3 {
      margin-top: auto;
      margin-bottom: 0;
    }
    .btn {
      margin-left: auto;
    }
    .programas {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 1.8em;
      position: relative;
      .background {
        background-image: url("../assets/capa/programas.jpg"); /* fallback */
        background-image: linear-gradient(rgba($brand-primary-contrast, .2), $brand-primary-contrast), url("../assets/capa/programas.jpg"); /* W3C */
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
      }
      h3, p {
        color: $text-contrast;
        z-index: 1;
      }
    }
    .venture {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 1.8em;
      color: $text-main;
      background-image: url("../assets/capa/venture.jpg"); /* fallback */
      background-image: linear-gradient(rgba(#FFFFFF, 0), #FFFFFF), url("../assets/capa/venture.jpg"); /* W3C */
      background-size: cover;
    }
  }
}

#clientes {
  padding-left: 2em;
  padding-right: 2em;
  .titulo {
    display: flex;
    align-items: center;
    flex-direction: row;
    .btn {
      margin-left: auto;
    }
  }
  .marcas {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (min-width: $break-md) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    a {
      text-decoration: none;
      text-align: center;
      margin-bottom: 2em;
    }
    img {
      width: 100px;
      height: 100px;
      @media (min-width: $break-md) {
        width: 169px;
        height: 169px;
      }
    }
  }
}

#estrutura {
  .detalhesBg {
    margin-left: 80%;
  }
  h2 {
    margin-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }
  .tabs-content {
    padding-left: 2em;
    padding-right: 2em;
    p {
      margin-bottom: 3em;
    }
  }
}

#pilares {
  background: #FFFFFF;
  padding-top: 6em;
  padding-left: 2em;
  padding-right: 2em;
  h2 {
    text-align: center;
    margin-bottom: 2em;
  }
  .conteudo {
    max-width: 1000px;
    min-height: 400px;
    align-items: stretch;
    display: flex;
    margin: auto;
    flex-direction: column;
    @media (min-width: $break-md) {
      flex-direction: row;
    }
    .heading-regular-sm {
      margin-bottom: 0;
    }
    .coluna {
      display: flex;
      justify-content: center;
      flex-direction: column;
      &:nth-child(1) {
        order: 2;
        @media (min-width: $break-md) {
          order: 1;
          width: 26%;
        }
      }
      &:nth-child(2) {
        order: 1;
        @media (min-width: $break-md) {
          order: 2;
          width: 40%;
        }
      }
      &:nth-child(3) {
        order: 3;
        @media (min-width: $break-md) {
          width: 34%;
        }
      }
      .bloco:nth-child(2) {
        margin-top: auto;
      }
      img {
        margin: auto;
        width: 50%;
        margin-bottom: 2em;
        @media (min-width: $break-md) {
          width: auto;
          margin: 0 3em;
        }
      }
    }
  }
}

#proposito {
  padding-bottom: 0;
  padding-left: 2em;
  padding-right: 2em;
  .conteudo {
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media (min-width: $break-md) {
      flex-direction: row;
    }
    .coluna {
      flex: 1;
      &:nth-child(1) {
        padding-bottom: 2em;
      }
      &:nth-child(2) {
        margin-left: auto;
        text-align: right;
        @media (min-width: $break-sm) {
          margin-left: auto;
          text-align: right;
        }
      }
      img {
        margin-top: -100px;
        width: 50%;
        @media (min-width: $break-md) {
          width: 100%;
        }
      }
    }
  }
}
