// ========================
// COLORS DARK
// ========================
$brand-primary-main: #FFCF0D;
$brand-primary-light: #FFD940;
$brand-primary-contrast: #0D0A00;
$brand-secondary-main: #9EAEBA;
$brand-secondary-light: #ADBBC5;
$brand-secondary-contrast: #101416;
$background-z0: #1A2125;
$background-z1: #252E34;
$background-z2: #303B43;
$background-z3: #3A4852;
$background-z4: #455561;
$text-main: #F8F9FA;
$text-light: rgba($text-main, 0.6);
$text-contrast: #000;