// ============================
// RESETS
// ============================
* {
    box-sizing: border-box;
}
p {
  margin-top: 0;
}
// ============================
// STRUCTURE
// ============================
@mixin menu-margin {
  margin-right: $nav-width-mobile;
  @media (min-width: $break-md) {
    margin-right: $nav-width-desktop;
  }
}
body, html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100vw;
}
main {
  @include menu-margin;
}
.conteudo {
    position: relative;
    @include menu-margin;
}
.container {
  max-width: 1600px;
  margin: auto;
}
body {
    background-color: $background-z1;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: $text-main;
    //responsividade dos textos
    @media (min-width: $break-xl) {
        font-size: 1.25rem;
        // background-color: blue;
    }
    @media (max-width: $break-xl) {
            font-size: 1.125rem;
            // background-color: orange;
    }
    @media (max-width: $break-lg) {
            font-size: 1.125rem;
            // background-color: red;
    }
    @media (max-width: $break-md) {
            font-size: 1rem;
            // background-color: green;
    }
    @media (max-width: $break-sm) {
            font-size: .9375rem;
            // background-color: purple;
    }
    @media (max-width: $break-xs) {
            font-size: .875rem;
            // background-color: pink;
    }
}
section {
  padding-bottom: 6em;
  @include menu-margin;
}

// ============================
// TEXT
// ============================

// heading displays
.heading-display {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $text-main;
}
.heading-display-max {
    @extend .heading-display;
    font-size: 2.1em;
    line-height: 1;
    @media (min-width: $break-xs) {font-size: 3.4em }
    @media (min-width: $break-sm) {font-size: 4em   }
}
.heading-display-lg {
    @extend .heading-display;
    font-size: 3em;
    line-height: 1.1;
}
.heading-display-md {
    @extend .heading-display;
    font-size: 1.8em;
    line-height: 1.1;
    @media (min-width: $break-xs) {font-size: 2.4em   }
    @media (min-width: $break-sm) {font-size: 3em }
}
.heading-display-sm {
    @extend .heading-display;
    font-size: 2.25em;
    line-height: 1.2;
}
.heading-display-min {
    @extend .heading-display;
    font-size: 1em;
    line-height: 1.2;
    @media (min-width: $break-xs) {font-size: 1.4em }
    @media (min-width: $break-sm) {font-size: 1.8em   }
}

// heading regular
.heading-regular {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: $text-main;
}
.heading-regular-max {
    @extend .heading-regular;
    font-size: 2.25em;
    line-height: 1;
}
.heading-regular-lg {
    @extend .heading-regular;
    font-size: 2em;
    line-height: 1.1;
}
.heading-regular-md {
    @extend .heading-regular;
    font-size: 1.5em;
    line-height: 1.2;
}
.heading-regular-sm {
    @extend .heading-regular;
    font-size: 1.25em;
    line-height: 1.3;
}
.heading-regular-min {
    @extend .heading-regular;
    font-size: 1em;
    line-height: 1.4;
}

// body text
.body-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: $text-light;
}
.body-max {
    @extend .body-text;
    font-size: 1.3125em;
    line-height: 1.3;
}
.body-lg {
    @extend .body-text;
    font-size: 1.125em;
    line-height: 1.4;
}
.body-md {
    @extend .body-text;
    font-size: 1em;
    line-height: 1.5;
}
// links
a {
  white-space: nowrap;
  text-decoration: none;
}

// ============================
// COMPONENTS
// ============================
.social-apps {
    display: flex;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: $brand-primary-light;
        margin-right: 1rem;
        margin-bottom: .5rem;
        text-decoration: none;
        color: $brand-primary-contrast;
        svg {
            height: 20px;
        }
    }
}
.tabs {
  display: flex;
  flex-direction: column;
  @media (min-width: $break-md) {
    flex-direction: row;
  }
  .tabs-nav {
    width: 100%;
    @media (min-width: $break-md) {
      width: 50%;
    }
    ul {
      padding: 0 1em 0 0;
      margin: 0;
      text-align: right;
      display: flex;
      flex-direction: row;
      width: 100%;
      overflow-x: scroll;
      margin-bottom: 1em;
      @media (min-width: $break-md) {
        overflow-x: hidden;
        flex-direction: column;
      }
      li {
        list-style: none;
        padding: 0;
        margin-bottom: .5em;
        a {
          display: inline-block;
          padding: .1em .4em;
          opacity: .6;
          white-space: normal;
          box-shadow: inset 0 0 0 0 $brand-primary-main;
          transition: background 350ms ease-in-out, box-shadow 350ms ease-in-out, opacity 350ms;
          &:where(:hover, :focus-visible) {
            box-shadow: inset 600px 0 1px 0 $brand-primary-main;
            opacity: 1;
          }
          &.active {
            background: $brand-primary-main;
            opacity: 1;
          }
          .heading-display-min {
            line-height: 0;
          }
        }
      }
    }
  }
  .tabs-content {
    width: 100%;
    @media (min-width: $break-md) {
      width: 50%;
    }
  }
}
.badges {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      white-space: nowrap;
      display: inline-block;
      background: #FFFFFF;
      font-family:  'Source Sans Pro', sans-serif;
      text-transform: uppercase;
      height: 40px;
      line-height: 40px;
      padding: 0 1em;
      margin: 0 .3em .5em 0;
    }
  }
}

// ============================
// BUTTONS
// ============================
.btn {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  color: $text-main;
  text-transform: uppercase;
  background: $brand-primary-main;
  text-decoration: none;
  letter-spacing: 1px;
  display: inline-block;
  box-shadow: inset 0 0 0 0 white;
  transition: all 350ms ease-in-out;
  &:where(:hover, :focus-visible) {
    box-shadow: inset 400px 0 1px 0 white;
  }
  svg {
    display: inline-block;
    margin-left: .4em;
  }
  &.btn-regular {
    padding: 0 1em;
    height: 40px;
    line-height: 40px;
  }
}

.btn-icon {
  box-shadow: inset 0 0 0 0 white;
  transition: all 200ms ease-in-out;
  &:hover {
    box-shadow: inset 62px 0 1px 0 white;
  }
}