.nav-lateral {
    background-color: $text-main;
    color: $text-contrast;
    width: 60px;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;
    @media (max-width: $break-sm) {
        width: 40px;
    }
}