// ========================
// COLORS LIGHT
// ========================
// $brand-primary-main: #FFCF0D;
// $brand-primary-light: #FFD940;
// $brand-primary-contrast: #0D0A00;
// $brand-secondary-main: #647D8E;
// $brand-secondary-light: #71899B;
// $brand-secondary-contrast: #5A6F7F;
// $background-z0: #CBD4DA;
// $background-z1: #DAE0E3;
// $background-z2: #E9EDEF;
// $background-z3: #F8F9FA;
// $background-z4: #FFFFFF;
// $text-main: #101416;
// $text-light: rgba($text-main, 0.6);
// $text-contrast: #fff;

// ========================
// COLORS DARK
// ========================
$brand-primary-main: #FFCF0D;
$brand-primary-light: #FFD940;
$brand-primary-contrast: #0D0A00;
$brand-secondary-main: #9EAEBA;
$brand-secondary-light: #ADBBC5;
$brand-secondary-contrast: #101416;
$background-z0: #1A2125;
$background-z1: #252E34;
$background-z2: #303B43;
$background-z3: #3A4852;
$background-z4: #455561;
$text-main: #F8F9FA;
$text-light: rgba($text-main, 0.6);
$text-contrast: #000;

// ========================
// FONTS
// ========================
$font-title: 'Montserrat', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

// ========================
// SPACING
// ========================
$spacing-sm: .5rem;

// ========================
// BREAKPOINTS
// ========================
$break-xl: 1400px;
$break-lg: 1200px;
$break-md: 992px;
$break-sm: 768px;
$break-xs: 576px;

// ========================
// NAV LATERAL
// ========================
$nav-width-desktop: 60px;
$nav-width-mobile: 40px;

// ========================
// TRANSITIONS
// ========================
$transition-type: ease-in-out;
